{% extends './base.html' %}
{% block content %}
{% load static %}
<div class="container">
  <h3>対キャラ勝率</h3>
</div>

<div style="background-color:#f3f6f9;">
  <br>
  <div class="row">
  {% for chara in winning  %}
    <div class="col-lg-1 col-sm-3 mb-2">
      <div class="card text-center">
        <img src={% static 'images/' %}{{chara.0.image_url}} alt="画像" class="card-imt-top">
        <div class="card-tile">
          {%if chara.1 == -1%}
          ?
          {%else%}
          {{chara.1|floatformat:"-1"}}%
          {%endif%}
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

{%endblock%}

