{% extends './base.html' %}
{% block content %}



        <h1><img src="{{ character.image_url.url }}" alt="{{ character.character_name }}の画像"></h1>

          <button type = "submit" class ="submit"><a href="{% url "smash_note:memo_create2" character.pk %}">作成</a></button>



            <p>勝利数: {{ wins }}</p>
{% comment %}<p>敗北数: {{ losses }}</p>
<p>総対戦数: {{ total_matches }}</p> {% endcomment %}
<p>勝率: {{ win_rate }}%</p>


<form method="GET" action="{% url 'smash_note:character_detail' character.id %}">

    <select name="filter">
      {% comment %} <option value="">All</option> {% endcomment %}

      {% if filter_character %}{#フィルターの選択前の表示を決める#}
        <option value="{{filter_character.id}}">{{filter_character.character_name}}</option>
        <option value="">All</option>
      {% else %}
        <option value="">All</option>
      {% endif %}

      {% for character in characters %}
        <option value="{{ character.id }}">{{ character.character_name }}</option>
      {% endfor %}
    </select>
    <button type="submit">Filter</button>
  </form>

  



           {% for result in match_results %}{#すべてのresultを表示#}


                  <article class = "media">
                    <div class = "media-content">
                        <div class ="content">
                            <p>
                                <strong>

                                    <small>{{result.memo_date}}</small>
                                    {% if result.win_flag == True%}
                                    <small>勝ち</small>
                                    {% elif result.win_flag == False%}
                                    <small>負け</small>
                                    {% else %}
                                    <small>無記入</small>
                                    {% endif %}


                                    <a href="{% url "smash_note:memo_update" result.pk %}">編集</a>
                                </strong>
                                <br />
                                {{ result.memo }}
                            </p>

                        </div>
                    </div>
                </article>

          {% endfor %}






{%endblock%}

