{% extends './base.html' %}
{% block content %}



        <h1>VS<img src="{{ character.image_url.url }}" alt="{{ character.character_name }}の画像"></h1>


            <a href="{% url 'smash_note:memo_create2' character.pk %}" class="btn btn-primary">対戦を記録</a>


            <p>勝利数: {{ wins }}</p>

<p>勝率: {{ win_rate }}%</p>



  <div class="container">
    <form method="GET" action="{% url 'smash_note:character_detail' character.id %}">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <select class="form-control" name="filter">

              {% if filter_character %}{#フィルターの選択前の表示を決める#}
                <option value="{{filter_character.id}}">{{filter_character.character_name}}</option>
                <option value="">All</option>
              {% else %}
                <option value="">All</option>
              {% endif %}

              {% if favorite_characters %}{#ゆーザーのfavorite_charactersがいる場合#}
                {% for character in favorite_characters %}
                  <option value="{{ character.id }}" {% if selected_character == character %}selected{% endif %}>
                    ★{{ character }}
                  </option>
                {% endfor %}
                <option disabled>──────────</option>
              {% endif %}

              {% for character in characters %}
                <option value="{{ character.id }}">{{ character.character_name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-primary">Filter</button>
        </div>
      </div>
    </form>
  </div>



           {% for result in match_results %}{#すべてのresultを表示#}


                  <article class = "media">
                    <div class = "media-content">
                        <div class ="content">
                            <p>
                                <strong>

                                    <small>{{result.memo_date}}</small>
                                    {% if result.win_flag == True%}
                                    <small>勝ち</small>
                                    {% elif result.win_flag == False%}
                                    <small>負け</small>
                                    {% else %}
                                    <small>無記入</small>
                                    {% endif %}


                                    <a href="{% url "smash_note:memo_update" result.pk %}">編集</a>
                                </strong>
                                <br />
                                {{ result.memo }}
                            </p>

                        </div>
                    </div>
                </article>

          {% endfor %}






{%endblock%}

