{% extends './base.html' %}
{% block content %}



        <h1><img src="{{ character.image_url.url }}" alt="{{ character.character_name }}の画像"></h1>


          <a href="{% url "smash_note:memo_create2" character.pk %}">作成</a>


          {% for result in match_results %}{#すべてのresultを表示#}
              {% if result.opponent_character_id.id == character.pk %}{#このキャラにたいするmemoを表示#}
                  {% comment %} <p>{{ result.memo }}</p> {% endcomment %}
                  <article class = "media">
                    <div class = "media-content">
                        <div class ="content">
                            <p>
                                <strong>
                                  {% comment %} {{result.win_flag}} {% endcomment %}
                                    <small>{{result.memo_date}}</small>
                                    <a href="{% url "smash_note:memo_update" result.pk %}">編集</a>
                                </strong>
                                <br />
                                {{ result.memo }}
                            </p>

                        </div>
                    </div>
                </article>


              {% endif %}
          {% endfor %}


{%endblock%}

