{% extends './base.html' %}
{% block content %}
{% load socialaccount %}{#googleログインのリンクに必要#}
{% load tags %}

{% if user.is_authenticated %}{#ログインしている#}
  <h1 class="text-center">対戦相手のキャラクター</h1>
<div class="container">
  {% comment %} <div class="row"> {% endcomment %}
    {% for character in object_list %}

      <a href="{% url 'smash_note:character_detail' character.id %}" class="col col-xs-3 col-sm-3 col-lg-1">
        <img src="{{ character.image_url.url }}" alt="{{ character.character_name }}の画像" style='height:55px; width:90px;'>
      </a>

    {% endfor %}
  {% comment %} </div> {% endcomment %}
{% else %}

<div class="container">
  <h1><strong>ログインすると対戦結果が登録できます</strong></h1>
  <a href="{% provider_login_url "google"  %}?next=/" class="btn btn-outline-primary mb-3">Googleでログイン</a><br>
  {% comment %} <div class="row"> {% endcomment %}
    {% for character in object_list %}
      <a href="" class="col col-xs-4 col-sm-4 col-lg-1 ">
        <img class="clickable" src="{{ character.image_url.url }}" alt="{{ character.character_name }}の画像" style='height:55px; width:90px;'>
      </a>
    {% endfor %}
  {% comment %} </div> {% endcomment %}
</div>
  <script>
    (()=>{//初期化してクリックしたときの処理を記述

      let imgElements = document.querySelectorAll(".clickable");//idがclickableのものを全て取得

      /* img要素にクリックイベントを追加*/
      imgElements.forEach(function(imgElement) {
        imgElement.addEventListener('click', function() {
            alert('ログインすると対戦結果が登録できます');
        });
      });
    })();
  </script>
{% endif %}




{%endblock%}
