{% extends './base.html' %}
{% block content %}


        <h1>{{object|yesno:'更新,作成'}}</h1>

        <form method='post'>{% csrf_token %}
            {{form.as_p}}
            <button type='submit' class='submit'> {{object|yesno:'更新,作成'}} </button>
        </form>

        <div>
            <a href='JavaScript:history.back()'>&lt; 戻る</a>
        </div>
        {% comment %} <h1><img src="{{ character.image_url.url }}" alt="{{ character.character_name }}の画像"></h1> {% endcomment %}



{%endblock%}

