{% extends './base.html' %}
{%load static%}

{%block ex_head%}
    <link rel="stylesheet" href="{% static 'css/radio_button.css'%}">
    <script src="{% static 'js/radioButton.js'%}"></script>
{% endblock %}
{% block content %}

<div class="container text-center">
        <h1>{{object|yesno:'更新,対戦結果を記録'}}</h1>
        {%comment%}
        object は、UpdateView や CreateView で使用される model で指定されたモデルのオブジェクトを表します。yesno フィルターは、条件式が真である場合には第1引数の文字列、偽である場合には第2引数の文字列を表示するフィルターです。

        今回の例では、テンプレート内でオブジェクトが存在する場合（つまり更新する場合）は "更新"、存在しない
        場合（つまり新規作成する場合）は "作成" を表示するようになっている
        {%endcomment%}

        <form method='post'>
            {% csrf_token %}{#おまじない#}
            {% if object  %}
                {{form.as_p}}{#編集の時#}
            {% else %}

                <div class="form-group">
                    <p><label for="id_player_character_id">あなたの使用キャラ（お気に入り）</label></p>

                    <div class="radio-tile-group">
                        {% for favorite_character in favorite_characters %}{#お気に入りキャラ#}
                          <div class="input-container">
                              <input type="radio" name="player_character_id" value="{{ favorite_character.id }}" id="{{favorite_character.id}}" onclick="doubleSelect(this)"/>
                              <div class="radio-tile">
                                <label for="{{favorite_character.id}}">
                                  <span class="c-img"><img
                                    src="{{ favorite_character.image_url.url }}" alt="{{ favorite_character.character_name }}の画像"
                                  ></span>
                                </label>
                              </div>
                          </div>
                        {% endfor %}

                      </div>{#radio-tile-group#}
                    <p> <textarea name="memo" cols="80" rows="10" maxlength="3000" required="" id="id_memo" class="mt-3"></textarea></p>
                    <p>
                        <label for="id_win_flag">勝敗:</label>
                        <select name="win_flag" id="id_win_flag">
                            <option value="unknown" selected="">不明</option>
                            <option value="true">勝ち</option>
                            <option value="false">負け</option>
                        </select>
                    </p>
                </div>
            {% endif %}



            <button type='submit' class='btn btn-primary'> {{object|yesno:'更新,作成'}} </button>
        </form>


        <div style="display: flex; justify-content: space-between;max-width:300px; margin-top: 20px;">
            <a href='JavaScript:history.back()'>
                <i class="fa-solid fa-arrow-left"></i>戻る
            </a>
            {% if object|yesno:"yes,no" == "yes" %}{#編集のときにtrue#}
                <a href="{% url 'smash_note:memo_delete' matchresult.pk %}">
                    <button type='submit' class='btn btn-danger'><i class="fa-solid fa-trash"></i></button>
                <a/>
            {% endif %}
        </div>
    </div>



{%endblock%}

